@import "variable";
@import "utilities/type";
@import "utilities/toggle";

@import "components/navbar";
@import "components/header";
@import "components/slider";
@import "components/announcement";
@import "components/footer";
@import "components/form";
@import "components/modal";


body {
 font-family: "Muli", sans-serif;
 background-color: #181C23;
}

.servers {
 position: relative;
 top: -120px
}

@import "utilities/responsive";
