.announcement {
  .a-header {
    position: relative;
     img {
       border-top-left-radius: 15px;
       border-top-right-radius: 15px;
     }
    .a-info {
      position: absolute;
      bottom: 10vh;
      width: 100%;
    }
  }
  .a-footer {
    background-color: #252C37;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}