form {
  label {
    font-size: 16px;
    color: $white;
    font-weight: 600;
    font-family: ClarikaPro;
  }
  input {
    width: 100%;
    background-color: $dark;
    border: 0;
    height: 40px;
    border-radius: 30px;
    color: $white;
    padding-left: 20px;
    &:focus {
      border: 0;
      outline: 0;
      box-shadow: 0 0 0 0;
    }
  }
  .form-button {
    width: 150px;
    border-radius: 200px;
    background-color: #268AEB;
    transition: .4s;
    border: 0;
    color: $white;
    height: 50px;
    text-align: center;
    cursor: pointer;
  }
  textarea {
    width: 100%;
    background-color: $dark;
    resize: none;
    border: 0;
    color: $white;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 20px;
    &:focus {
      outline: 0;
    }
  }
}