.header {
  background: url("../images/header.png");
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  .header-inner {
    position: relative;
    top: 100px;
  }
}
.header-alt {
  background: url("../images/header.png");
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  .header-inner {
    position: relative;
    top: 100px;
  }
}
.header-event {
  background: url("../images/events-header.png");
  min-height: 470px;
  background-size: cover;
  padding-left: 50px;
  border-radius: 15px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
}

