.navbar-expand-lg {
  padding: 40px 0;
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $white;
        transition: .4s;
        font-size: 16px;
        &:hover {
          text-decoration: none;
          color: $blue;
        }
      }
    }
    .button {
      width: 140px;
      margin-top: -10px;
      border-radius: 40px;
      background-color: $blue;
      transition: .4s;
      a {
        display: block;
        padding: 10px 0;
        text-align: center;

      }
      &:hover {
        background-color: #1f6bb5;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}